* {
  background-color: bisque;
}

.body {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.changeGrid {
  background-color: azure;
  width: 200px;
  font-size: 18px;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
  row-gap: 0px;
  border: 3px solid red;
}

.colors {
  display: flex;
  gap: 10px;
}

.selector {
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.blankBox {
  width: 50px;
  height: 50px;
  background-color: white;
}

.black {
  background-color: black;
}

.hoverBlackBox {
  background-color: lightgrey;
}
