@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  background-color: bisque;
  font-family: oswald;
}
.header {
  font-size: 60px;
  font-weight: bolder;
}

.body {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
}

.changeGrid {
  background-color: azure;
  width: 200px;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
  row-gap: 0px;
  border: 1px solid black;
}

.colors {
  display: flex;
  gap: 10px;
}

.selector {
  width: 50px;
  height: 50px;
  border: 3px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.blankBox {
  width: 50px;
  height: 50px;
  background-color: white;
}

.black {
  background-color: black;
}

.hoverBlackBox {
  background-color: lightgrey;
}
